.design-container {
    position: absolute;
    bottom: 36px;
}

.headphonesOne,
.headphonesTwo,
.headphonesThree {
    /* outline: 1px solid #F97316;     */
    position: relative;
}

.headphonesOne {
    z-index: 3;
/* box-shadow: 13px 13px 5px -11px rgba(0,0,0,1); */

}

.headphonesTwo {
    left: 20px;
    top: -230px;
    z-index: 2;
    /* box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75); */
    /* opacity: 0.4; */
}

.headphonesThree {
    left: 40px;
    top: -460px;
    z-index: 1;
    /* box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75); */

    /* opacity: 0.2; */
}